<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><%= link_to 'Inicio', root_path %></li>
        <li>Preguntas frecuentes</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="text-page" class="col-md-8 col-md-offset-2">
      <div class="question">
        <h2 class="grey-text">¿Cómo puedo ganar puntos?</h2>
        <ul>
          <li>Tienes puntos por cada referido que se vincule del proyecto* (contra legalización de contrato)</li>
          <li>Por el pago oportuno de tu cuota inicial*</li>
          <li>Si subes una foto en redes sociales (Facebook, Instagram) desde el proyecto y con el hastag #MONTEBIANCOCLUB</li>
          <li>Si tu foto de Montebianco llega a  50 “Likes” o más</li>
          <li>Por compartir una publicación de las redes sociales de Montebianco</li>
          <li>Si das “Like” a la publicación de Montebianco</li>
          <li>Cada trimestre  se dará una bonificacion de puntos al que tenga más puntos acumulados</li>
        </ul>
      </div>
      <hr>
      <div class="question">
        <h2 class="grey-text">¿Cómo redimir mis puntos?</h2>
        <p>Para que puedas hacer control de tus puntos y canjearlos por los premios que más te gusten, hemos diseñado una plataforma virtual a la que podrás ingresar fácil y rápido:</p>
        <ol>
          <li>Haz click en iniciar sesión</li>
          <li>Digita el usuario y contraseña que se asignaron en tu tarjeta física</li>
          <li>Haz click en productos y escoge el producto que quieres redimir</li>
          <li>Ingresa la cantidad de productos que deseas redimir y haz click en agregar al carrito</li>
          <li>Ingresa a redimir, verifica tu orden y haz click en redimir</li>
        </ol>
      </div>
    </div>
  </div>
</div>