<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><%= link_to 'Inicio', root_path %></li>
        <li>Preguntas frecuentes</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="text-page" class="col-md-8 col-md-offset-2">
      <div class="question">
        <h2 class="grey-text">¿Cómo puedo ganar puntos?</h2>
        <table class="table">
          <thead>
            <tr>
              <th>ACCIONES GENERADORAS DE PUNTOS</th>
              <th>PUNTOS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Referir a un cliente que se vincule al proyecto.<sup><a href="#fn3" id="ref3">3</a></sup></td>
              <td>10.000</td>
            </tr>
            <tr>
              <td>Legalizar el contrato de vinculación antes de 15 días después de realizar la separación del apartamento.</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Pagar oportunamente la cuota mensual correspondiente a la cuota inicial.</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Publicar una foto tomada en el lugar en donde se desarrolla el proyecto a través de las redes sociales Facebook y/o Instagram utilizando la etiqueta (hashtag) #MONTEBIANCOCLUB.</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Obtener cincuenta (50) o más “me gusta” (“like”) en la foto publicada por el participante en las redes sociales Facebook e Instagram utilizando la etiqueta (hashtag) #MONTEBIANCOCLUB.</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Compartir una publicación oficial del proyecto Montebianco Club House en las redes sociales Facebook y/o Instagram a través del perfil o cuenta del participante en tales redes sociales.</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Dar “me gusta” (“like”) a una publicación oficial del proyecto Montebianco Club en las redes sociales Facebook y/o Instagram.</td>
              <td>10</td>
            </tr>
            <tr>
              <td>El participante que al final de cada trimestre tenga más ganará una bonificación.</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="question">
        <h2 class="grey-text">¿Cómo redimir mis puntos?</h2>
        <p>Para que puedas hacer control de tus puntos y canjearlos por los premios que más te gusten, hemos diseñado una plataforma virtual a la que podrás ingresar fácil y rápido:</p>
        <ol>
          <li>Haz click en iniciar sesión</li>
          <li>Digita el usuario y contraseña que se asignaron en tu tarjeta física</li>
          <li>Haz click en productos y escoge el producto que quieres redimir</li>
          <li>Ingresa la cantidad de productos que deseas redimir y haz click en agregar al carrito</li>
          <li>Ingresa a redimir, verifica tu orden y haz click en redimir</li>
        </ol>
      </div>
    </div>
  </div>
</div>