<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><%= link_to 'Inicio', root_path %></li>
        <li>Términos y condiciones</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="text-page" class="col-md-8 col-md-offset-2">
      <div class="question">
        <h3 class="grey-text text-center">PROGRAMA DE FIDELIZACIÓN PUNTOS MONTEBIANCO CLUB HOUSE<br>TÉRMINOS Y CONDICIONES</h3>
      <hr>
      </div>
      <div class="question">
        <p>
          En Constructora Conconcreto S.A agradecemos la confianza depositada por usted en nuestro proyecto Montebianco Club House Torre 3A, 3By 4, y por eso premiamos su fidelidad y compromiso a través del programa de fidelización PUNTOS MONTEBIANCO CLUB HOUSE, por el cual usted podrá ganar y acumular puntos gracias a su gran comportamiento como cliente y redimirlos en diferentes premios que tenemos para usted.<br><br>
          La participación en este programa de fidelización implica el conocimiento y aceptación de los presentes términos y condiciones. Todas las personas participantes en este programa aceptan plenamente y sin reserva todas y cada una de las disposiciones que se detallan a continuación:
          <br><br><br>
          <b>1. Vigencia:</b>
          <br><br>
          El presente programa de fidelización se llevará a cabo a partir del 1 de noviembre de 2016 y hasta la culminación del proyecto Montebianco Club House Torre 3A, 3By 4.<sup><a href="#fn1" id="ref1">1</a></sup>

          <br><br><br>
          <b>2. Participantes:</b>
          <br><br>
          Podrán participar solamente personas jurídicas a través de su representante legal o naturales, mayores de edad, que ostenten la calidad de beneficiarios de área<sup><a href="#fn2" id="ref2">2</a></sup>  dentro del proyecto Montebianco Club House Torre 3A, 3By 4 y hayan creado su usuario a través de la página <a href="https://montebianco.com.co">https://montebianco.com.co</a>.
        </p>
        <br>
        <h5>Mecánica del Programa de Fidelización Puntos Montebianco Club House:</h5>
        <p>
          A partir del 01 de noviembre de 2016 y hasta la culminación del proyecto Montebianco Club House, todos los clientes que ostenten la calidad beneficiarios de área respecto de apartamentos ubicados en las Torres 3A, 3B y 4 del proyecto podrán ganar y acumular puntos conforme a los términos y condiciones establecidas para el programa, los cuales podrán ser redimidos en premios y de esta manera empezar a llenar su hogar ideal en Montebianco Club House.
          <br><br><br>
          <b>3. Acumulación de puntos:</b>
          <br><br>
          Durante la vigencia del Programa de Fidelización Puntos Montebianco Club House, los participantes podrán ganar y acumular puntos a través de la ejecución de acciones que demuestran su gran comportamiento como cliente. Las acciones generadoras de puntos y los puntos por cada acción son los que se describen a continuación:
        </p>
        <table class="table">
            <thead>
              <tr>
                <th>ACCIONES GENERADORAS DE PUNTOS</th>
                <th>PUNTOS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Referir a un cliente que se vincule al proyecto.<sup><a href="#fn3" id="ref3">3</a></sup></td>
                <td>10.000</td>
              </tr>
              <tr>
                <td>Pagar oportunamente la cuota mensual correspondiente a la cuota inicial.</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Publicar una foto tomada en el lugar en donde se desarrolla el proyecto a través de las redes sociales Facebook y/o Instagram utilizando la etiqueta (hashtag) #MONTEBIANCOCLUB.</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Obtener cincuenta (50 o más “me gusta” (“like”) en la foto publicada por el participante en las redes sociales Facebook e Instagram utilizando la etiqueta (hashtag) #MONTEBIANCOCLUB.</td>
                <td>30</td>
              </tr>
              <tr>
                <td>Compartir una publicación nueva<sup><a href="#fn4" id="ref4">4</a></sup> oficial del proyecto Montebianco Club House en las redes sociales Facebook y/o Instagram a través del perfil o cuenta del participante en tales redes sociales.</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Dar “me gusta” (“like”) a una publicación oficial del proyecto Montebianco Club en las redes sociales Facebook y/o Instagram.</td>
                <td>10</td>
              </tr>
              <tr>
                <td>El participante que al final de cada trimestre tenga más ganará una bonificación.</td>
                <td>50</td>
              </tr>
            </tbody>
          </table>

          <p>
            <br>
            <b>4. Redención de puntos:</b>
            <br><br>
            4.1. Constructora Conconcreto S.A. enviará mensualmente a todos los participantes del programa de fidelización PUNTOS MONTEBIANCO CLUB HOUSE un reporte con la acumulación de los puntos. <br>
            4.2. Para redimir los puntos y para reclamar los premios, los participantes deben estar totalmente al día en cartera del proyecto. <br>
            4.3. Toda redención de puntos requiere la presentación del documento de identidad del cliente vinculado en el proyecto. <br>
            4.4. La redención se podrá hacer hasta 31 de agosto de 2018.
            4.5. Procedimiento de redención: <br>
            <ul>
              <li> El cliente deberá ingresar a la página web https://montebianco.com.co con el usuario y contraseña.</li>
              <li> Deberá seleccionar el premio que desee redimir.</li>
              <li> La solicitud de redención deberá ser aprobada por Constructora Conconcreto S.A.. (Se verifica el estado de la cartera y la cantidad de puntos disponible)</li>
              <li> En un término que no podrá sobrepasar los dos meses calendario, se le hará entrega del premio. Se le avisará a el cliente el día en que puede recogerlo en nuestra sala de negocios.</li>
            </ul>

            <br>
            <b>5. Plan de premios:</b>
            <br><br>
            Durante la vigencia del programa de fidelización PUNTOS MONTEBIANCO CLUB HOUSE, Constructora Conconcreto S.A. tendrá un portafolio de premios que se encontrarán disponibles en la página web https://montebianco.com.co, los cuales serán actualizados semestralmente. Use sus puntos y disfrute de los siguientes premios desde este semestre<sup><a href="#fn5" id="ref5">5</a></sup>:<br><br>
            <ul>
              <li>El programa de fidelización PUNTOS MONTEBIANCO CLUB HOUSE estará sujeto a cambios de condiciones, las cuales serán web <a href="https://montebianco.com.co">https://montebianco.com.co</a>.</li>
              <li>Dependiendo de la época del año, podrán incluirse nuevos premios y nuevas oportunidades de ganar.</li>
              <li>Los premios podrán estar sujetos a los cambios de colección de los almacenes proveedores. Caso en el cual Conconcreto hará entrega de un premio de igual o mejores condiciones. </li>
              <li>Una vez entregado el premio, no se aceptan devoluciones o cambios de especie.</li>
            </ul>

            <br>
            <b>6. Condiciones Generales:</b>
            <br><br>
            <ul>
              <li>En caso de que un cliente desista del negocio, pierde los puntos y el derecho a redimirlos.</li>
              <li>Los puntos no se pueden ceder, no son negociables ni canjeables por dinero en efectivo ni por cualquier producto no autorizado por Conconcreto.</li>
            </ul>

            <br>
            <b>7. Uso del nombre, imagen y otros derechos personales del participante:</b>
            <br><br>
            Cuando usted participa en el programa de fidelización PUNTOS MONTEBIANCO CLUB HOUSE, entiende que Constructora Conconcreto S.A. tendrá el derecho, más no la obligación, de usar, exhibir y publicar su nombre, fotografía, imagen, voz, interpretación, información biográfica y/o declaraciones en todo el mundo a perpetuidad en cualquier medio que ahora exista o pueda existir en el futuro inclusive para fines promocionales de Constructora Conconcreto S.A. y sus sociedades vinculadas. Si Constructora Conconcreto S.A. hace uso de cualquiera de los derechos anteriores, usted entiende y acepta que no recibirá contraprestación o pago, aviso o créditos, ni tendrá derecho de aprobar o no la forma en que Constructora Conconcreto S.A.utilice los anteriores derechos. Y dese ya usted o sus benefactores renuncian a cualquier acción, presente o futuras por estos conceptos.

            <br><br><br>
            <b>8. Derecho a contactarlo, entrevistarlo y obtener información adicional:</b>
            <br><br>
            Constructora Conconcreto S.A. podrá contactarlo a usted o a cualquier tercero para verificar la información que usted nos suministra, obtener comentarios adicionales y para filmar, grabar y hacer un registro de cualesquiera declaraciones hechas por usted para participar en el programa de fidelización PUNTOS MONTEBIANCO CLUB HOUSE. Usted acepta que cualquier material creado a partir de dichas actividades serán de propiedad de Constructora Conconcreto S.A. y podrá ser utilizado de conformidad con estos términos y condiciones.


            <br><br><br>
            <b>9. Política de garantía:</b>
            <br><br>
            En caso que uno de los premios redimidos presente problemas de funcionamiento o daños después de su recepción, el participante podrá contactar a Constructora Conconcreto S.A. quien proporcionará los datos del vendedor o proveedor para que éste le brinde un soporte adecuado a su solicitud de garantía. La calidad de los productos será responsabilidad exclusiva del proveedor y se exonera a Constructora Conconcreto S.A. de cualquier responsabilidad.

            Todas las solicitudes de garantías deben cumplir con las siguientes condiciones:
            <ul>
              <li>La garantía del producto debe estar vigente.</li>
              <li>El daño del producto debe ser por un defecto de fabricación, falla técnica o irregularidad. Ninguna garantía aplicará si el producto presenta señales de mal uso por parte del cliente.</li>
            </ul>
            <br>
            El proveedor tiene derecho a reponer, reparar o reembolsar el dinero del producto.

            <br><br><br>
            <b>10. Datos personales:</b>
            <br><br>
            Con la  aceptación a los presentes Términos  y Condiciones  el cliente acepta expresamente la Política de Privacidad del Conconcreto la cual está disponible en <a href="http://www.conconcreto.com/Media/Default/documents/Varios/Politica-de-proteccion-de-datos-personales-CCC.pdf">http://www.conconcreto.com/Media/Default/documents/Varios/Politica-de-proteccion-de-datos-personales-CCC.pdf</a>.

          </p>
          <hr></hr>
          <sup id="fn1">1. Fecha que no superará el 31 de agosto de 2018.</sup><br>
          <sup id="fn2">2. Se entiende por beneficiario de área a cualquier persona jurídica (debidamente representada) o natural (mayor de edad) que haya firmado contrato de vinculación respecto de alguna unidad del proyecto y que tal contrato se encuentre legalizado ante Alianza Fiduciaria S.A.</sup><br>
          <sup id="fn3">3. Se entiende por referido vinculado al proyecto, como aquel que gracias a la referencia de un participante del programa suscriba contrato de vinculación respecto alguna unidad del proyecto y que tal contrato se encuentre legalizado ante Alianza Fiduciaria S.A.</sup><br>
          <sup id="fn4">4. Es una nueva publicación toda la hecha posterior a la firma del usuario de los términos y condiciones de los puntos Montebianco Club House.</sup><br>
          <sup id="fn5">5. Estos premios variarán semestralmente.</sup><br>
      </div>
    </div>
  </div>
</div>