#navigation {
  a.navbar-cart {
    i {
      font-size: 18px;
    }
  }
}

.heading {
  h4 {
    color: #777777;
  }
}

.card-text {
  h3 {
    text-transform: none;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color: #777777;
    a {
      color: #777777;
    }
  }
  p.price {
    font-family: "Arial";
    font-size: 20px;
    color: #6bc5d5;
    font-weight: bold;
  }
}

.two-line-text {
  font-size: 17px;
  margin: 0;
  color: #777777;
}

.grey-text {
  color: #777777;
}

.margin-top {
  margin-top: 30px;
}

.row.products {
  margin-top: 50px;
}

.quick-view-btn {
  padding: 5px 0;
}

.footer {
  .footer__block {
    text-align: center;
  }
  .social-link:hover {
    text-decoration: none;
  }
  .social-button {
    display: inline-block;
    background-color: #4460ae;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 20px 4px 0;
    i.social-icon {
      color: #ffffff;
      font-size: 17px;
      margin-top: 6px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  img#sensorial {
    width: 80px;
    margin-left: 5px;
  }
}

