<footer class="footer">
  <div class="footer__block">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <p>Montebianco y su programa de puntos, traen para ti una cantidad de productos espectaculares para que al redimirlos puedas llevartelos a casa.</p>
          <a target="_blank" href="https://www.instagram.com/MontebiancoClub/" class="social-link">
            <div class="social-button">
              <i class="fa fa-instagram social-icon instagram-icon"></i>
            </div>
          </a>
          <a target="_blank" href="https://www.facebook.com/MonteBiancoClub" class="social-link">
            <div class="social-button">
              <i class="fa fa-facebook social-icon facebook-icon"></i>
            </div>
          </a>
          <a target="_blank" href="https://plus.google.com/+MontebiancoClubHouse" class="social-link">
            <div class="social-button">
              <i class="fa fa-google-plus social-icon google-plus-icon"></i>
            </div>
          </a>
        </div>
      </div>
      <%= render 'layouts/navbar' %>

      <p>Diseñado por <a target="_blank" href="http://sensorial.com.co/"><%= image_tag("logo-sensorial.png", id: "sensorial") %></a></p>
    </div>
  </div>
</footer>
